/* You can add global styles to this file, and also import other style files */

body {
  background-image: url("86599157.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 }


button{
  background-color :grey;
  transition-duration: 0.3s;
  &:hover{
    background-color: white;
  }
}

